* {
    cursor: none;
}

.cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    opacity: 0.7;
}

.trail {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 9999;
    opacity: 0.5;
    pointer-events: none;
    animation: trail 0.5s ease-out forwards;
    transform: translate(-50%, -50%);
}

@keyframes trail {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}